<div class="bg">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">login</a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>  
      
<app-login></app-login>
<br> <br>
<app-home></app-home>
<br><br><br>
<!--
{{8+8}}

<br><br><br>

{{gettime()}}
<br><br><br>

{{ name.length}}

<br><br><br>

{{ name.toUpperCase()}}
<br><br>

{{"my name is " + name}}

<br><br>

we are  {{status ? 'available' : 'not available'}}  --> 

</div>
<router-outlet></router-outlet>